@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-background: #292C3A;
    --input-error-color: #ff8585;
    --input-secondary-color: #B6BFF3;
    --input-background-color: #41455D;
    --input-success-color: #18C18E;
    --input-highlight-color: var(--input-secondary-color);
}

body {
    background: var(--body-background);
    color: white;
    padding: 3rem;
}

/* Input texts */
.input-label {
    font-weight: 500px;
    font-size: 1rem;
    line-height: 1.5;
}

.input-label + .input-container {
    margin-top: 0.25rem;
}

.input-description {
    font-size: 14px;
    line-height: 1.4;
}

.input-description + .input-container {
    margin-top: 0.25rem;
}

.input-subtext {
    font-size: 14px;
    line-height: 1.4;
    color: var(--input-highlight-color);
    margin-top: 0.25rem;
}

/* Input container */
.input-container {
    height: 40px;
    background: var(--input-background-color);
    display: flex;
    border-radius: 6px;
    max-width: 400px;
    border: 1px solid transparent;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 0 12px;
    color: var(--input-secondary-color);
}

.input-container:focus-within {
    border-color: var(--input-highlight-color);
}

/* With action */
.input-container.input-error,
.input-container.input-success {
    border-color: var(--input-highlight-color);
}

/* Error input */
.input-container.input-error, .input-container.input-error + .input-subtext {
    --input-highlight-color: var(--input-error-color);
}

/* Success input */
.input-container.input-success, .input-container.input-success + .input-subtext {
    --input-highlight-color: var(--input-success-color);
}

/* Input elements */
.input-container > .input-element {
    height: 100%;
    flex: 1 1 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    caret-color: var(--input-highlight-color);
    color: white;
    cursor: pointer;
}

.input-container > .input-element::placeholder {
    color: var(--input-highlight-color);
}

/* Disabled */
.input-container.input-disabled,
.input-container.input-disabled * {
    opacity: 0.5;
    cursor: not-allowed;
}