@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-background: #292C3A;
    --input-error-color: #ff8585;
    --input-secondary-color: #B6BFF3;
    --input-background-color: #41455D;
    --input-success-color: #18C18E;
}

body {
    background: var(--body-background);
    color: white;
    padding: 3rem;
}

/* Input texts */
.input-label {
    font-weight: 500px;
    font-size: 1rem;
    line-height: 1.5;
}

.input-description {
    font-size: 14px;
    line-height: 1.4;
}

.input-subtext {
    font-size: 14px;
    line-height: 1.4;
    color: var(--input-secondary-color);
}

